<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area"> 
        <li class="name"> 
            <h1><%= link_to "Home", root_path %></h1>
        </li> 
        <li class="toggle-topbar menu-icon">
            <a href="#"><span>Menu</span></a>
        </li> 
    </ul> 
    <section class="top-bar-section"> 
        <!-- Right Nav Section --> 
        <ul class="right"> 
            <li class="active">
                <%= link_to "Login", sessions_new_path %>
            </li> 
            <li class="has-dropdown"> 
                <a href="#">Menu Dropdown</a>
                <ul class="dropdown"> 
                    <li>
                        <a href="#">First link</a>
                    </li> 
                    <li class="active">
                        <a href="#">Active link</a>
                    </li> 
                </ul> 
            </li> 
        </ul> 
        
        <!-- Left Nav Section --> 
        <ul class="left"> 
            <li>
                <a href="#">Redirect</a>
            </li>
        </ul> 
    </section> 
</nav>
